<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="<%= root_path %>">
    <h3>Test de niveau BdP</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    </ul>

    <ul class="navbar-nav navbar-right">


      <% if user_signed_in? %>
        <li class="nav-item active" >
            <%= link_to "Se déconnecter", destroy_user_session_path, class:"nav-link", method: :delete %>        
        </li>
        <li class="nav-item active" >
          <%= link_to "Profile", users_show_path, class:"nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active" >
          <%= link_to "S'inscrire", new_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item active" >
            <%= link_to "Se connecter", new_user_session_path, class:"nav-link" %>        
        </li>
      <% end %>

    </ul>
  </div>
</nav>
<!-- Flash messages -->
<div>
  <% if flash[:alert] %>
    <div class="alert alert-danger"> <%= flash[:alert] %> </div>
  <% end %>
</div>
